paramiko==3.4.0
wakeonlan~=3.1.0
chardet~=5.1.0
requests==2.31.0
cryptography~=42.0.5
APScheduler==3.10.4
pytz==2023.3
psutil~=5.9.5
pytz_deprecation_shim~=0.1.0
win32security~=2.1.0
keyring==24.1.0
gitpython
jeepney~=0.8.0
PyInstaller